<!-- search.html -->

<div class="container">
    <form>
        <div class="input-group">
            
            <input type="text" class="form-control" placeholder="Search" name="developerName" ng-model="vm.devName">
            <button class="input-group-addon" ng-click="vm.searchDeveloper(vm.devName)">
                <i class="fa fa-search"></i> Search Developer
            </button>
        </div>

        <div class="form-group">            
            <table class="table table-striped" border="0" width="80%" cellpadding="1" cellspacing="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Developer Name</th>
                        <th>Project Name</th>
                        <th>Developer Project Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="res in devResults track by $index">
                        <td>{{ res._id }}</td>
                        <td>{{ res.developer_name }}</td>
                        <td>{{ res.developer_project_project_name }}</td>
                        <td>{{ res.developer_project_email }}</td>
                        <td><button class="input-group-addon"> Update</button></td>
                    </tr>   
                </tbody>         
            </table>        
        </div>

    </form>
</div>